.backLink{
  position: absolute;
  top: 0;
  z-index: 100;

  padding: 3px 12px 3px 0px;

  display: flex;
  gap: 2px;
  align-items: center;
  justify-content: center;

  color: #fff;
  background: #FF6B01;
  border-radius: 5px;
  text-shadow: 2px 2px 4px #000;

  transition: color 0.3s ease-in-out;
}

.backLink::before{
  padding: 0 3px;
  content: '❮';
}

.backLink:hover,
.backLink:focus{
  color: #000
}
