.movieMetaDetails{
  margin-top: 20px;

  cursor: pointer;
}

.metaDetails{
  margin-top: 20px;
  display: flex;
  gap: 20px;
}

.title{
  font-size: 23px;
  font-weight: 700;
}

.active{
  font-weight: 700;
}
