.movieMetaDetails{
  margin-top: 20px;
}

.metaDetails{
  margin-top: 20px;
  display: flex;
  gap: 20px;
}

.title{
  font-size: 23px;
  font-weight: 700;

  cursor: pointer;
}

.active{
  font-weight: 700;
  color: #FF6B01;
  border-bottom: 4px solid #FF001B;
}
