.reviewsList{
  padding: 20px 0;

  display: flex;
  flex-direction: column;
  gap: 20px;

  text-align: justify;
  text-indent: 20px;
}

.reviewsMeta{
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;

  font-size: 22px;
  font-weight: 700;
  text-indent: 0;

  text-shadow: 2px 2px 4px #ff6b08;
}

.empty{
  padding: 20px 0;

  font-weight: 500;
}

