.home {
  width: 100%;
	margin: 40px auto;

  font-size: 12px;
  line-height: 1.33;
}

@media screen and (min-width: 768px) {
  .home{
    margin: 60px auto;
  }
}

@media screen and (min-width: 1280px) {
  .home {
    font-size: 20px;
    line-height: 1.2;
  }
}
