.moviesList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

@media screen and (min-width: 768px) {
  .moviesList {
    gap: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .moviesList {
    gap: 32px 15.5px;
  }
}
