.movieMetaWrapper{
  display: flex;
  gap: 40px;

  color: #fff;
}

.movieMetaWrapper h3,
.movieMetaWrapper h2,
.movieMetaWrapper summary{
  color:#ff6b01
}

.movieMeta{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.movieMetaItem{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.moviePoster {
  width: 25vw;
  height: 65vh;
  object-fit: cover;
  object-position: center;

  border-radius: 5px;
}

.movieTitle{
  display: flex;
  gap: 5px;
  align-items: flex-start;

  color:#FF6B01
}

.movieRating{
  padding: 3px 12px;

  font-size: 14px;
  font-weight: 500;

  color: #fff;
  background-color: #FF6B01;
  border-radius: 5px;
}
