.movieMetaWrapper{
  display: flex;
  justify-content: space-between;
  gap: 40px;

  color: #fff;
}

.movieMetaWrapper h3,
.movieMetaWrapper h2,
.movieMetaWrapper summary{
  color:#ff6b01
}

.movieMeta{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.movieMetaItem{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.moviePoster {
  position: relative;
  max-width: 500px;
  height: 65vh;
  object-fit: cover;
  object-position: center;

  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.moviePoster::after {
  content: " ";

  position: absolute;
  top: calc(50% - 38px);
  left: calc(50% - 38px);
  z-index: -1;

  width: 64px;
  height: 64px;

  border-radius: 50%;
  border: 6px solid #FF6B01;
  border-color: #FF6B01 transparent #FF6B01 transparent;
  animation: spinner 1.2s linear infinite;
}

.addLibraryBtn{
  width: 100%;

  padding: 5px 5px;

  font-family: 'roboto', sans-serif;
  font-size: 20px;
  font-weight: 700;

  color: #fff;
  background: #FF6B01;
  text-shadow: 2px 2px 4px #000;

  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

  border: none;
  outline: none;

  cursor: pointer;

  transition: color 250ms ease-in-out, text-shadow 250ms ease-in-out;
}

.addLibraryBtn:hover,
.addLibraryBtn:focus {
  color: #000;
  text-shadow: 0px 0px 0px #000;
}

.movieTitle{
  display: flex;
  gap: 5px;
  align-items: flex-start;

  color:#FF6B01
}

.movieRating{
  padding: 3px 12px;

  font-size: 14px;
  font-weight: 500;

  color: #fff;
  background-color: #FF6B01;
  border-radius: 5px;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
