.modalWindow{
  padding: 15px;
  width: 320px;
  margin: 0 auto;
}

.authForm{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.authField {
  display: flex;
  flex-direction: column;
  gap: 5px
}
