.header {
  min-height: 15vh;
  display: flex;
}

.headerHome {
  background-image: url('../../images/header-bg-1280.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  animation: blur 250ms ease-in-out;
}

.headerMovies {
  background-image: url('../../images/library-header-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  animation: blur-library 250ms ease-in-out;
}

.navigation{
  margin: auto;

  display: flex;
  gap: 30px;
}

.navigation a{
  font-size: 32px;
  font-weight: 700;
  color: #FFFFFF;
  text-decoration: none;
}
