.footer {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #F7F7F7;
}

.copyrights {
  font-size: 14px;
  line-height: 1.5;

  color: #545454;
}
@media screen and (min-width: 768px) {
  .copyrights {
    font-size: 20px;
    line-height: 1.88;
  }
}
